@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="FrameWindow" class="content-inner h-100" style="overflow-y: auto">
    <noscript>Please enable JavaScript in your browser!</noscript>
</div>
